# **First Task : Data Preprocessing** 

The different steps for this first task are as follows:
1. Data Cleaning
2. Data Encoding
3. Data Labeling

# Librairies

In [359]:
!pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in /opt/conda/lib/python3.10/site-packages (2.6.1)
Requirement already satisfied: numpy>=1.14.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.23.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.11.1)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.14.0)
Requirement already satisfied: pandas>=1.0.5 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.10/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2023.3)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /opt/conda/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)

In [360]:
# data manipulation
import pandas as pd
import numpy as np
import datetime

# data preprocessing & engineering
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from category_encoders import BinaryEncoder

# settings & warning handling
import warnings
pd.options.display.max_columns
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

# First Look at the data

In [361]:
# read in csv file as a DataFrame
data = pd.read_csv("/kaggle/input/final-project-dataset/LoanExport.csv")

In [362]:
# explore the first 5 rows
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [363]:
# explore the last 5 rows
data.tail()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
291446,839,199903,N,202902,37964,0,1,O,60,32,...,19400,F199Q1220925,N,360,2,Ot,Other servicers,0,0,12
291447,840,200210,N,202904,35644,0,1,O,73,0,...,11600,F199Q1401332,P,319,2,Ot,Other servicers,0,0,53
291448,840,200304,N,202904,42044,0,1,O,73,31,...,92800,F199Q1401282,N,313,1,Ot,Other servicers,0,0,38
291449,845,199904,N,202903,37964,0,1,I,80,54,...,19300,F199Q1220924,P,360,2,Ot,Other servicers,0,0,32
291450,849,199903,N,202902,37964,0,1,O,47,29,...,18900,F199Q1220923,P,360,2,Ot,Other servicers,0,0,29

In [364]:
# size of the dataset
data.shape

(291451, 28)

In [365]:
# check the columns names
data.columns

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'LoanPurpose',
       'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment'],
      dtype='object')

In [366]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 62.3+ MB

# 1. Data Cleaning

## Missing values treatment

In [367]:
# missing values in descending order
data.isnull().sum().sort_values(ascending=False)

SellerName            24994
CreditScore               0
FirstPaymentDate          0
MonthsDelinquent          0
EverDelinquent            0
ServicerName              0
NumBorrowers              0
OrigLoanTerm              0
LoanPurpose               0
LoanSeqNum                0
PostalCode                0
PropertyType              0
PropertyState             0
ProductType               0
PPM                       0
Channel                   0
OrigInterestRate          0
LTV                       0
OrigUPB                   0
DTI                       0
OCLTV                     0
Occupancy                 0
Units                     0
MIP                       0
MSA                       0
MaturityDate              0
FirstTimeHomebuyer        0
MonthsInRepayment         0
dtype: int64

We see that according to the isnull() function, only "SellerName" has missing values. 
However we'll look at the variable description to make sure that others columns don't have missing values.

### 1. CreditScore  
The standardized credit score used to evaluate the borrower during the loan origination process. For reperforming, modified fixed-rate and modified step-rate loans, this value will be blank. 
All known credit scores are disclosed at issuance. Generally, the credit score known and disclosed at time of PC issuance is the score used to originate the mortgage. Mortgages reported with unknown credit scores at the time of PC issuance may have credit scores disclosed in the month following PC issuance. Credit scores reported at PC issuance and those reported in the month following, if any, are not updated and these same scores continue to appear in the monthly reporting. 

**An unavailable credit score or a credit score value less than 300 or greater than 850 will be disclosed as “Not Available,” which will be indicated by 9999.  
9999 = Not Available**

In [368]:
data['CreditScore'].head()

0    0
1    0
2    0
3    0
4    0
Name: CreditScore, dtype: int64

In [369]:
data[data['CreditScore'] < 300]['CreditScore']

0       0
1       0
2       0
3       0
4       0
       ..
1184    0
1185    0
1186    0
1187    0
1188    0
Name: CreditScore, Length: 1189, dtype: int64

In [370]:
data[data['CreditScore'] > 850]['CreditScore']

Series([], Name: CreditScore, dtype: int64)

In [371]:
data[data['CreditScore'] == 9999]['CreditScore']

Series([], Name: CreditScore, dtype: int64)

There are 1189 values of 'CreditScore' less than 350 but not values greater than 850.  
So these values should be marqued as “Not Available”, which will be indicated by 9999.

In [372]:
# replacing all credit score values less than 300 by 9999
data.loc[data['CreditScore'] < 300, 'CreditScore'] = 9999

In [373]:
# check the result
data[data['CreditScore'] < 300]['CreditScore']

Series([], Name: CreditScore, dtype: int64)

###  2. FirstPaymentDate : 
The month and year that the first scheduled payment on the loan is due. For seller-owned modified mortgages, converted mortgages, and construction to permanent mortgages, the first payment due date of the mortgage as of the note modification, conversion, or construction to permanent date of the mortgage.

In [374]:
data.FirstPaymentDate.tail()

291446    199903
291447    200210
291448    200304
291449    199904
291450    199903
Name: FirstPaymentDate, dtype: int64

These values are dates but Python doesn't know that they're dates because the dtype is 'int64'.

In [375]:
data['FirstPaymentDate'].dtype

dtype('int64')

In [376]:
# let's first separate year from month
data['FirstPaymentDate'] = data['FirstPaymentDate'].apply(lambda x: str(x)[:4] + '-' + str(x)[4:]) #.astype('str')
data['FirstPaymentDate'].tail()

291446    1999-03
291447    2002-10
291448    2003-04
291449    1999-04
291450    1999-03
Name: FirstPaymentDate, dtype: object

Then let's convert this object column to datetime. This is called "Parsing Dates", i.e., we're taking in a string and identifying its components parts. The format of dates are determined with a guide called "strftime". The most common parts of date are : 
- %d for day, 
- %m for month,
- %y for two-digit year,
- %Y for 4 digit year.

In [377]:
# create new colum for parsed date
data['Parsed_FirstPaymentDate'] = pd.to_datetime(data['FirstPaymentDate'], format="%Y-%m")
data['Parsed_FirstPaymentDate'].tail()

291446   1999-03-01
291447   2002-10-01
291448   2003-04-01
291449   1999-04-01
291450   1999-03-01
Name: Parsed_FirstPaymentDate, dtype: datetime64[ns]

Now we can see that the column dtype is datetime64[ns] :)

In [378]:
# delete the old date column
data.drop('FirstPaymentDate', axis=1, inplace=True)

### 3. FirstTimeHomebuyer: 
The indicator denoting whether a borrower on the loan qualifies as a first-time homebuyer. Indicates whether the Borrower, or one of a group of Borrowers, is an individual who 
(1) is purchasing the mortgaged property, 
(2) will reside in the mortgaged property as a primary residence and 
(3) had no ownership interest (sole or joint) in a residential property during the three-year period preceding the date of the purchase of the mortgaged property. With certain limited exceptions, a displaced homemaker or single parent may also be considered a First- Time Homebuyer if the individual had no ownership interest in a residential property during the preceding three-year period other than an ownership interest in the marital residence with a spouse. 

**“Not Available” will be indicated by 9.  
Y = Yes  
N = No  
9 = Not Available**

In [379]:
data.FirstTimeHomebuyer.head()

0    N
1    N
2    N
3    N
4    N
Name: FirstTimeHomebuyer, dtype: object

In [380]:
data[data.FirstTimeHomebuyer == 9].FirstTimeHomebuyer

Series([], Name: FirstTimeHomebuyer, dtype: object)

In [381]:
data[data.FirstTimeHomebuyer == 'Not Available'].FirstTimeHomebuyer

Series([], Name: FirstTimeHomebuyer, dtype: object)

In [382]:
data.FirstTimeHomebuyer.value_counts()

N    184154
X     78015
Y     29282
Name: FirstTimeHomebuyer, dtype: int64

In this column we have three categories: Y for Yes, N for No and X. We'll consider the X values as missing values or 'Not Available' so replaced by 9.

In [383]:
# replacing X by 9
data.loc[data['FirstTimeHomebuyer'] == 'X', 'FirstTimeHomebuyer'] = 9
data.FirstTimeHomebuyer.value_counts()

N    184154
9     78015
Y     29282
Name: FirstTimeHomebuyer, dtype: int64

### 4. MaturityDate: 
The month and year that the final scheduled payment on the loan is due.  
**We'll apply same process of date parsing as above for the 'FirstPaymentDate' column.**

In [384]:
data.MaturityDate

0         202901
1         202901
2         202901
3         202901
4         202901
           ...
291446    202902
291447    202904
291448    202904
291449    202903
291450    202902
Name: MaturityDate, Length: 291451, dtype: int64

In [385]:
# let's first separate year from month
data['MaturityDate'] = data['MaturityDate'].apply(lambda x: str(x)[:4] + '-' + str(x)[4:]) #.astype('str')
data['MaturityDate'].tail()

291446    2029-02
291447    2029-04
291448    2029-04
291449    2029-03
291450    2029-02
Name: MaturityDate, dtype: object

In [386]:
# create new colum for parsed date
data['Parsed_MaturityDate'] = pd.to_datetime(data['MaturityDate'], format="%Y-%m")
data['Parsed_MaturityDate'].tail()

291446   2029-02-01
291447   2029-04-01
291448   2029-04-01
291449   2029-03-01
291450   2029-02-01
Name: Parsed_MaturityDate, dtype: datetime64[ns]

In [387]:
# delete the old date column
data.drop('MaturityDate', axis=1, inplace=True)

### 5. MSA: Mortgage Security Amount

In [388]:
data.MSA.head()

0    16974
1    19740
2    29940
3    31084
4    35644
Name: MSA, dtype: object

In [389]:
data.MSA.value_counts()

X        39100
31084     9338
16974     8771
12060     6985
47644     6673
         ...
21940        3
49500        2
25020        1
10380        1
32420        1
Name: MSA, Length: 392, dtype: int64

In [390]:
# replacing X by 99
#data.loc[data['MSA'] == 'X', 'MSA'] = 99    # this won't work because there are spaces in the X string
data.loc[data['MSA'] == 'X    ', 'MSA'] = 99
data.MSA.value_counts()

99       39100
31084     9338
16974     8771
12060     6985
47644     6673
         ...
21940        3
49500        2
25020        1
10380        1
32420        1
Name: MSA, Length: 392, dtype: int64

**After many tries to replace X values by 99, I found that we must use(added spaces after X ) "X    " instead of simply "X" without spaces.**

### 6. MIP: 
The percentage of mortgage insurance coverage obtained at origination in effect at the time the security was issued. Only primary mortgage insurance that is purchased by the Borrower, lender or Freddie Mac is disclosed. Mortgage insurance that constitutes “credit enhancement” that is not required by Freddie Mac’s Charter is not disclosed.  
**Amounts of mortgage insurance reported by Sellers that are in excess of 55% will be disclosed as “Not Available,” which will be indicated by 999.    
000= No MI    
999= Not Available**

In [391]:
data.MIP.tail()

291446    0
291447    0
291448    0
291449    0
291450    0
Name: MIP, dtype: int64

In [392]:
data.MIP.value_counts()

0     184511
25     42441
30     41869
12     13294
18      3005
17      2739
35      1290
36       748
29       640
20       497
14       166
27        66
22        45
6         32
33        24
32         9
28         9
15         7
50         7
47         7
26         7
24         6
16         5
1          5
13         4
52         3
10         3
37         3
55         1
21         1
23         1
19         1
45         1
7          1
9          1
11         1
4          1
Name: MIP, dtype: int64

In [393]:
data[data['MIP'] > 55]['MIP']

Series([], Name: MIP, dtype: int64)

In [394]:
data[data['MIP'] == 999 ]['MIP']

Series([], Name: MIP, dtype: int64)

### 7. Units: 
The number of dwelling units in the mortgaged property at the time the loan was originated. 
**“Not Available” will be indicated by 99.  
1 = 1  
2 = 2  
3 = 3  
4 = 4  
99 = Not Available**

In [395]:
data.Units.value_counts()

1    285598
2      4690
3       587
4       574
0         2
Name: Units, dtype: int64

What do these 0 values mean?
We'll simply drop the 0 values as 0 is not among 1, 2, 3, 4.

In [396]:
data = data.drop(data[data['Units'] == 0].index)

In [397]:
data.Units.value_counts()

1    285598
2      4690
3       587
4       574
Name: Units, dtype: int64

### 8. Occupancy:  

The classification describing the property occupancy status at the time the loan was originated. For reperforming, modified fixed-rate and modified step-rate loans, this value will be blank.  
**“Not Available” will be indicated by a 9.  
P = Primary Residence  
S = Second Home  
I = Investment Property  
9 = Not Available**

In [398]:
data.Occupancy.value_counts()

O    276129
I      8734
S      6586
Name: Occupancy, dtype: int64

We have an unknown category in this column that is O. Probaly this column stands for “Not Available”. Let's replace these values by 9.

In [399]:
# replacing O by 9
data.loc[data['Occupancy'] == 'O', 'Occupancy'] = 9
data.Occupancy.value_counts()

9    276129
I      8734
S      6586
Name: Occupancy, dtype: int64

### 9. OCLTV: 
For reperforming, modified fixed-rate and modified step-rate loans, the ratio, expressed as a percentage, obtained by dividing the amount of all known outstanding loans at origination by the value of the property. Property value reflects either the lesser of the sales price or the appraised property value for a purchase, or the appraised property value for a refinance.  
999 = Not Available 
If value 998, then the ratio is considered not available (securities issued on or after 9/1/2017)

In [400]:
data.OCLTV.head()

0    89
1    73
2    75
3    76
4    78
Name: OCLTV, dtype: int64

In [401]:
data[data.OCLTV == 998].OCLTV

Series([], Name: OCLTV, dtype: int64)

### 10. DTI: 
The ratio obtained by dividing the total monthly debt expense by the total monthly income of the borrower at the time the loan was originated or modified. Disclosure of the debt to income ratio is based on 
(1) the sum of the Borrower’s monthly debt payments, including monthly housing expenses that incorporate the mortgage payment the Borrower is making at the time of the delivery of the mortgage loan to Freddie Mac, divided by 
(2) the total monthly income used to underwrite the Borrower as of the date of the origination of the mortgage loan. 
The debt to income ratio will not be updated. This disclosure is subject to the widely varying standards originators use to calculate and / or report Borrowers' income and liabilities. This disclosure is subject to the widely varying standards originators use to calculate and / or report Borrowers' secondary mortgage loan amounts.  
**Percentages less than 1% or greater than 65% will be disclosed as “Not Available,” which will be indicated by a 999.  
999 = Not Available**

In [402]:
data.DTI.head()

0    27
1    17
2    16
3    14
4    18
Name: DTI, dtype: int64

In [403]:
data[data.DTI < 1].DTI

140       0
167       0
176       0
179       0
186       0
         ..
291438    0
291441    0
291442    0
291443    0
291447    0
Name: DTI, Length: 17796, dtype: int64

In [404]:
data[data.DTI > 65].DTI

Series([], Name: DTI, dtype: int64)

In [405]:
data[data.DTI == 999].DTI

Series([], Name: DTI, dtype: int64)

In [406]:
data.loc[data['DTI'] < 1, 'DTI'] = 999
data[data.DTI < 1].DTI

Series([], Name: DTI, dtype: int64)

### 11. OrigUPB:

In [407]:
data.OrigUPB.head()

0    117000
1    109000
2     88000
3    160000
4    109000
Name: OrigUPB, dtype: int64

### 12. LTV: 
The ratio, expressed as a percentage, obtained by dividing the amount of the loan at origination by the value of the property. Property value reflects either the lesser of the sales price or the appraised property value for a purchase, or the appraised property value for a refinance. For reperforming, modified fixed-rate and modified step-rate loans, this value will be blank. In the case of a seasoned mortgage loan, if the Seller cannot warrant that the value of the mortgaged property has not declined since the note date, Freddie Mac requires that the Seller must provide a new appraisal value, which is used in the LTV calculation. 
**Percentages less than 1% or greater than 998% will be disclosed as “Not Available,” indicated by 999.  
999 = Not Available.**

In [408]:
data.LTV.head()

0    89
1    73
2    75
3    76
4    78
Name: LTV, dtype: int64

In [409]:
data[data.LTV < 1].LTV

31098     0
88463     0
233257    0
276981    0
287773    0
Name: LTV, dtype: int64

In [410]:
data[data.LTV == 999].LTV

Series([], Name: LTV, dtype: int64)

In [411]:
data[data.LTV > 998].LTV

Series([], Name: LTV, dtype: int64)

In [412]:
data.loc[data['LTV'] < 1, 'LTV'] = 999
data[data.DTI < 1].DTI

Series([], Name: DTI, dtype: int64)

### 13. OrigInterestRate: 
For reperforming, modified fixed-rate and modified step-rate loans, the interest rate of the loan as stated on the note at the time the loan was originated. 

**If value <0 or >25, then the rate is considered not available (securities issued on or after 9/1/2017)**

In [413]:
data.OrigInterestRate.tail()

291446    7.000
291447    6.375
291448    5.625
291449    7.000
291450    7.000
Name: OrigInterestRate, dtype: float64

In [414]:
data[data.OrigInterestRate < 0].OrigInterestRate

Series([], Name: OrigInterestRate, dtype: float64)

In [415]:
data[data.OrigInterestRate > 25].OrigInterestRate

Series([], Name: OrigInterestRate, dtype: float64)

### 14. Channel: 
The origination channel used by the party that delivered the loan to the issuer. For reperforming, modified fixed-rate and modified step-rate loans, this value will be blank. Disclosure indicates whether a broker or correspondent, as those terms are defined below, originated or was involved in the origination or the mortgage. If a Third-Party Origination is applicable, but the Seller does not specify Broker or Correspondent, the disclosure will indicate “TPO Not Specified.” If a Broker, Correspondent or Third Party Origination disclosure is not applicable, the mortgage loan will be designated as Retail, as defined below.

• Broker is a person or entity that specializes in loan originations, receiving a commission (from a Correspondent or other lender) to match Borrowers and lenders. The Broker performs some or most of the loan processing functions, such as taking loan applications, or ordering credit reports, appraisals and title reports. Typically, the Broker does not underwrite or service the mortgage loan and generally does not use its own funds for closing; however, if the Broker funded a mortgage loan on a lender’s behalf, such a mortgage loan is considered a “Broker” third party origination mortgage loan. The mortgage loan is generally closed in the name of the lender who commissioned the Broker’s services. 
• Correspondent is an entity that typically sells the Mortgages it originates to other lenders, which are not Affiliates of that entity, under a specific commitment or as part of an ongoing relationship. The Correspondent performs some or all the loan processing functions, such as taking the loan application, ordering credit reports, appraisals, and title reports, and verifying the Borrower’s income and employment. The Correspondent may or may not have delegated underwriting and typically funds the mortgage loans at settlement. The mortgage loan is closed in the Correspondent’s name and the Correspondent may or may not service the mortgage loan. The Correspondent may use a Broker to perform some of the processing functions or even to fund the loan on its behalf; under such circumstances, the mortgage loan is considered a “Broker” third party origination mortgage loan, rather than a “Correspondent” third party origination mortgage loan. 
• Retail Mortgage is a mortgage loan that is originated, underwritten and funded by a lender or its Affiliates. The mortgage loan is closed in the name of the lender or its Affiliate and if it is sold to Freddie Mac, it is sold by the lender or its Affiliate that originated it. A mortgage loan that a Broker or Correspondent completely or partially originated, processed, underwrote, packaged, funded or closed is not considered a Retail mortgage loan. 
• For purposes of the definitions of Correspondent and Retail, “Affiliate” means any entity that is related to another party as a consequence of the entity, directly or indirectly, controlling the other party, being controlled by the other party, or being under common control with the other party.  
**R = Retail  
B = Broker  
C = Correspondent  
T = Third Party Origination - Not Specified   
9 = Not Available**

In [416]:
data.Channel.head()

0    T
1    R
2    T
3    R
4    R
Name: Channel, dtype: object

In [417]:
data.Channel.value_counts()

T    167668
R    123219
C       407
B       155
Name: Channel, dtype: int64

### 15. PPM(Prepayment Penalty Indicator): 
The indicator denoting whether the borrower is subject to a penalty for early payment of principal.  
**Y = Yes  
N = No**

In [418]:
data.PPM.value_counts()

N    282123
X      5405
Y      3921
Name: PPM, dtype: int64

In [419]:
# replacing X by 99
data.loc[data['PPM'] == 'X', 'PPM'] = 99
data.PPM.value_counts()

N     282123
99      5405
Y       3921
Name: PPM, dtype: int64

There are three categories instead of two. That means we should handle the third one : X that can be considered a "Not available".

### 16. ProductType:

In [420]:
data.ProductType.head()

0    FRM
1    FRM
2    FRM
3    FRM
4    FRM
Name: ProductType, dtype: object

In [421]:
data.ProductType.value_counts()

FRM      291449
Name: ProductType, dtype: int64

This column only has 1 categorie so it is not very useful. We'll drop it

In [422]:
data = data.drop('ProductType', axis = 1)

### 17. PropertyState: 
The abbreviation denoting the location of the property securing the loan.

In [423]:
data.PropertyState.head()

0    IL
1    CO
2    KS
3    CA
4    NJ
Name: PropertyState, dtype: object

In [424]:
data.PropertyState.value_counts()

CA    43326
FL    19133
MI    16284
IL    13621
TX    13092
OH    11545
CO    10127
GA    10024
NC     9983
WA     9927
AZ     9248
VA     8096
NY     7913
PA     7738
NJ     7457
OR     6658
MA     6392
IN     6228
MD     5515
MO     5400
MN     5092
UT     4996
WI     4660
TN     4556
SC     4473
AL     4128
KY     3896
NV     3564
CT     3253
KS     2321
ID     2296
LA     2092
NM     2053
IA     1860
OK     1803
NE     1532
NH     1320
VT      945
AR      938
MS      935
MT      872
DE      838
ME      755
RI      722
PR      693
HI      609
WV      542
WY      496
DC      492
SD      376
ND      315
AK      245
GU       74
Name: PropertyState, dtype: int64

### 18. PropertyType: 
The classification describing the type of property that secures the loan.  
**“Not Available” will be indicated by 99.  
CP = Cooperative  
CO = Condominium  
PU = Planned Unit Development   
SF = Single-Family  
MH = Manufactured Housing  
99 = Not Available**

In [425]:
data.PropertyType.tail()

291446    SF
291447    SF
291448    SF
291449    SF
291450    SF
Name: PropertyType, dtype: object

In [426]:
data.PropertyType.value_counts()

SF    244921
PU     27506
CO     18100
MH       723
LH       105
CP        72
X         22
Name: PropertyType, dtype: int64

In [427]:
# handling X category
# data.loc[data['PropertyType'] == 'X ' , 'PropertyType'] = 99  # this won't work
data.loc[data['PropertyType'] == 'X ' , 'PropertyType'] = 99
data.PropertyType.value_counts()

SF    244921
PU     27506
CO     18100
MH       723
LH       105
CP        72
99        22
Name: PropertyType, dtype: int64

### 19. PostalCode

In [428]:
data.PostalCode.head()

0    60400
1    80200
2    66000
3    90700
4     7600
Name: PostalCode, dtype: object

In [429]:
data.PostalCode.value_counts()

94500    2582
30000    2374
48100    2166
85200    2155
48000    1976
         ...
79500       1
26600       1
41400       1
36900       1
41300       1
Name: PostalCode, Length: 1767, dtype: int64

In [430]:
data[data.PostalCode == 'X    '].PostalCode

22936     X
109637    X
148896    X
175547    X
241675    X
285140    X
Name: PostalCode, dtype: object

In [431]:
data.loc[data['PostalCode'] == 'X    ' , 'PostalCode'] = 99
data[data.PostalCode == 'X    '].PostalCode

Series([], Name: PostalCode, dtype: object)

### 20. LoanSeqNum(Loan Identifier): 
The unique designation assigned to the loan by the issuer.

In [432]:
data.LoanSeqNum.head()

0    F199Q1268030
1    F199Q1015092
2    F199Q1266886
3    F199Q1178167
4    F199Q1178517
Name: LoanSeqNum, dtype: object

In [433]:
data.LoanSeqNum.value_counts()

F199Q1268030    1
F199Q1262485    1
F199Q1138623    1
F199Q1220622    1
F199Q1155120    1
               ..
F199Q1098563    1
F199Q1049090    1
F199Q1170229    1
F199Q1284978    1
F199Q1220923    1
Name: LoanSeqNum, Length: 291449, dtype: int64

In [434]:
# drop this column because it's useless
data = data.drop(['LoanSeqNum', 'PropertyState', 'ServicerName'], axis = 1)

### 21. LoanPurpose: 
The classification describing the purpose of the loan. Generally, a Cash-out Refinance mortgage loan is a mortgage loan in which the use of the loan amount is not limited to specific purposes. A mortgage loan placed on a property previously owned free and clear by the Borrower is always considered a Cash-out Refinance mortgage loan. Generally, a No Cash-out Refinance mortgage loan is a mortgage loan in which the loan amount is limited to the following uses:  
• Pay off the first mortgage, regardless of its age  
• Pay off any junior liens secured by the mortgaged property, that were used in their entirety to acquire the subject property   
• Pay related closing costs, financing costs and prepaid items, and   
• Disburse cash out to the Borrower (or any other payee) not to exceed 2% of the new refinance mortgage loan or $2,000, whichever is less. If a Refinance is applicable, but the seller of the mortgage loan does not specify Cash-out Refinance or No Cash-out Refinance, “Refinance—Not Specified” is indicated.  
**“Not Available” will be indicated by a 9.  
C = Refinance - Cash Out  
N = Refinance - No Cash Out  
R = Refinance - Not Specified  
P = Purchase  
M = Modified - Loss Mitigation**

In [435]:
data.LoanPurpose.value_counts()

P    123402
N    110036
C     58011
Name: LoanPurpose, dtype: int64

### 23. NumBorrowers: 
The number of borrowers who, at the time the loan was originated, are obligated to repay the loan.  
**1 = 1  
2 = 2  
3 = 3  
4 = 4  
5 = 5  
6 = 6  
7 = 7  
8 = 8  
9 = 9  
10 = 10  
99 = Not Available**

In [436]:
data.NumBorrowers.head()

0    2
1    1
2    2
3    2
4    2
Name: NumBorrowers, dtype: object

In [437]:
data.NumBorrowers.value_counts()

2     187333
1     103777
X        339
Name: NumBorrowers, dtype: int64

In [438]:
# handling X category
data.loc[data['NumBorrowers'] == 'X ' , 'NumBorrowers'] = 99
data.NumBorrowers.value_counts()

2     187333
1     103777
99       339
Name: NumBorrowers, dtype: int64

### 24. SellerName: 
The name of the entity that sold the loan to the issuer. This field will not be updated after issuance, regardless of mergers/acquisitions.

In [439]:
data.SellerName.value_counts()

Ot    76942
CO    34479
FL    25573
FI    24581
ST    22242
NO    16184
OL     7776
PR     7365
BA     7093
GM     6566
BI     6407
G      4734
CH     4599
CR     4459
FT     4105
WA     3139
AC     3076
HO     2970
PN     2407
RE     1758
Name: SellerName, dtype: int64

### 25. ServicerName:
The name of the entity that services the loan during the current reporting period.

In [441]:
#data.ServicerName.value_counts()

### 26. EverDelinquent:

In [442]:
data.EverDelinquent.value_counts()

0    233787
1     57662
Name: EverDelinquent, dtype: int64

### 27. MonthsDelinquent:
For reperforming, modified and modified step-rate loans, the number of days for which a mortgage loan has been reported delinquent.  
**0 = Current  
1 = 30-59  
2 = 60-89  
3 = 90-119  
4 = 120+  
Effective beginning March 2021**

In [443]:
data.MonthsDelinquent.head()

0    0
1    0
2    0
3    0
4    0
Name: MonthsDelinquent, dtype: int64

In [444]:
data.MonthsDelinquent.value_counts()

0      233787
1       23161
2        7572
3        3823
4        2459
        ...
153         1
178         1
159         1
163         1
171         1
Name: MonthsDelinquent, Length: 174, dtype: int64

### 28. MonthsInRepayment:

In [445]:
data.MonthsInRepayment.value_counts()

50     8002
49     7976
52     7947
51     7753
53     7603
       ...
207     112
200     111
205     107
203     100
204      99
Name: MonthsInRepayment, Length: 212, dtype: int64

# Data Encoding

In [446]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
categorical_cols

['FirstTimeHomebuyer',
 'MSA',
 'Occupancy',
 'Channel',
 'PPM',
 'PropertyType',
 'PostalCode',
 'LoanPurpose',
 'NumBorrowers',
 'SellerName']

In [447]:
data = pd.get_dummies(data, columns=['Channel',
                                     'LoanPurpose',
                                     'PropertyType',
                                     'SellerName',
                                     ])

# Data Labeling

In [448]:
# convert to integers
data['MSA']           = data['MSA'].astype(int)
data['NumBorrowers']  = data['NumBorrowers'].astype(int)
data['PostalCode']    = data['PostalCode'].astype(int)

In [449]:
data['FirstTimeHomebuyer'] = data['FirstTimeHomebuyer'].map({
                                                                 'N' : 0, 
                                                                 'Y' : 1
                                                            }) #.astype('int')

In [450]:
data['PPM'] = data['PPM'].map({
                                 'N' : 0, 
                                 'Y' : 1,
                                 '9' : 9
                            }) #.astype('int')

In [451]:
data['Occupancy'] = data['Occupancy'].map({
                                             'S' : 0,
                                             'I' : 1, 
                                             '9' : 9
                                        })

In [452]:
data.head()

,CreditScore,FirstTimeHomebuyer,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,LTV,...,SellerName_GM,SellerName_HO,SellerName_NO,SellerName_OL,SellerName_Ot,SellerName_PN,SellerName_PR,SellerName_RE,SellerName_ST,SellerName_WA
0,9999,0.0,16974,25,1,NaN,89,27,117000,89,...,0,0,0,0,0,0,0,0,0,0
1,9999,0.0,19740,0,1,NaN,73,17,109000,73,...,0,0,0,0,0,0,0,0,0,0
2,9999,0.0,29940,0,1,NaN,75,16,88000,75,...,0,0,0,0,0,0,0,0,0,0
3,9999,0.0,31084,0,1,NaN,76,14,160000,76,...,1,0,0,0,0,0,0,0,0,0
4,9999,0.0,35644,0,1,NaN,78,18,109000,78,...,1,0,0,0,0,0,0,0,0,0