# **I. First Task(improved version) : Data Preprocessing** 

The different steps for this first task are as follows:
1. Data Cleaning
2. Data Encoding
3. Data Labeling

# Librairies

In [1]:
#!pip install --upgrade category_encoders
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from seaborn) (1.21.6)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: typing_extensions in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from seaborn) (4.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\envs\rstudio-\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [2]:
# data manipulation
import pandas as pd
from pandas.api.types import is_numeric_dtype
import numpy as np
import seaborn as sns
import datetime

# data preprocessing & engineering
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
#from category_encoders import BinaryEncoder

# settings & warning handling
import warnings
pd.options.display.max_columns
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

# First Look at the data

In [3]:
# read in csv file as a DataFrame
data = pd.read_csv("LoanExport.csv")

In [4]:
# explore the first 5 rows
data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [5]:
# explore the last 5 rows
data.tail()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
291446,839,199903,N,202902,37964,0,1,O,60,32,...,19400,F199Q1220925,N,360,2,Ot,Other servicers,0,0,12
291447,840,200210,N,202904,35644,0,1,O,73,0,...,11600,F199Q1401332,P,319,2,Ot,Other servicers,0,0,53
291448,840,200304,N,202904,42044,0,1,O,73,31,...,92800,F199Q1401282,N,313,1,Ot,Other servicers,0,0,38
291449,845,199904,N,202903,37964,0,1,I,80,54,...,19300,F199Q1220924,P,360,2,Ot,Other servicers,0,0,32
291450,849,199903,N,202902,37964,0,1,O,47,29,...,18900,F199Q1220923,P,360,2,Ot,Other servicers,0,0,29

In [6]:
# size of the dataset
data.shape

(291451, 28)

In [7]:
# checking the columns names
data.columns

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'LoanPurpose',
       'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment'],
      dtype='object')

In [8]:
# looking for more infos about the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 62.3+ MB

# 1. Data Cleaning

## 1.1. Parsing Dates

###  - FirstPaymentDate : 
The month and year that the first scheduled payment on the loan is due.

In [9]:
data.FirstPaymentDate.tail()

291446    199903
291447    200210
291448    200304
291449    199904
291450    199903
Name: FirstPaymentDate, dtype: int64

These values are dates but Python doesn't know that they're dates because the dtype is 'int64'.

In [10]:
data['FirstPaymentDate'].dtype

dtype('int64')

In [11]:
# let's first separate year from month
data['FirstPaymentDate'] = data['FirstPaymentDate'].apply(lambda x: str(x)[:4] + '-' + str(x)[4:]) #.astype('str')
data['FirstPaymentDate'].tail()

291446    1999-03
291447    2002-10
291448    2003-04
291449    1999-04
291450    1999-03
Name: FirstPaymentDate, dtype: object

Then let's convert this object column to datetime. This is called "Parsing Dates", i.e., we're taking in a string and identifying its components parts. The format of dates are determined with a guide called "strftime". The most common parts of date are : 
- %d for day, 
- %m for month,
- %y for two-digit year,
- %Y for 4 digit year.

In [12]:
# create new colum for parsed date
data['Parsed_FirstPaymentDate'] = pd.to_datetime(data['FirstPaymentDate'], format="%Y-%m")
data['Parsed_FirstPaymentDate'].tail()

291446   1999-03-01
291447   2002-10-01
291448   2003-04-01
291449   1999-04-01
291450   1999-03-01
Name: Parsed_FirstPaymentDate, dtype: datetime64[ns]

Now we can see that the column dtype is datetime64[ns] :)

### - MaturityDate: 
The month and year that the final scheduled payment on the loan is due.  
**We'll apply same process of date parsing as above for the 'FirstPaymentDate' column.**

In [13]:
# let's first separate year from month
data['MaturityDate'] = data['MaturityDate'].apply(lambda x: str(x)[:4] + '-' + str(x)[4:]) #.astype('str')
data['MaturityDate'].tail()

291446    2029-02
291447    2029-04
291448    2029-04
291449    2029-03
291450    2029-02
Name: MaturityDate, dtype: object

In [14]:
# create new colum for parsed date
data['Parsed_MaturityDate'] = pd.to_datetime(data['MaturityDate'], format="%Y-%m")
data['Parsed_MaturityDate'].tail()

291446   2029-02-01
291447   2029-04-01
291448   2029-04-01
291449   2029-03-01
291450   2029-02-01
Name: Parsed_MaturityDate, dtype: datetime64[ns]

## 1.2. Missing values treatment

In [15]:
# missing values in descending order
data.isnull().sum().sort_values(ascending=False)

SellerName                 24994
CreditScore                    0
FirstPaymentDate               0
Parsed_FirstPaymentDate        0
MonthsInRepayment              0
MonthsDelinquent               0
EverDelinquent                 0
ServicerName                   0
NumBorrowers                   0
OrigLoanTerm                   0
LoanPurpose                    0
LoanSeqNum                     0
PostalCode                     0
PropertyType                   0
PropertyState                  0
ProductType                    0
PPM                            0
Channel                        0
OrigInterestRate               0
LTV                            0
OrigUPB                        0
DTI                            0
OCLTV                          0
Occupancy                      0
Units                          0
MIP                            0
MSA                            0
MaturityDate                   0
FirstTimeHomebuyer             0
Parsed_MaturityDate            0
dtype: int64

We see that according to the isnull() function, only "SellerName" has missing values.  

However after reading carefully the variable description it seems that others columns have missing values. Indeed some columns values are marked as "Not Available" or 999. 
We can also observe that some columns have "X" values and are in object form as well as some columns should be of an integer type but are of an object type. Now let us detect which columns have these "X" values and if there are any other symbols too.

In [16]:
for col in data.columns:
    print('{} : {}\n'.format(col,data[col].unique()))
    print('-'*100)
    print('\n')

CreditScore : [  0 335 342 363 366 370 375 391 396 445 462 466 471 476 477 478 479 481
 482 483 485 486 487 489 490 491 492 493 494 495 496 497 498 499 500 501
 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609
 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627
 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645
 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663
 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681
 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699
 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 822 823 825 826 827
 828 829 831 835 837 838 839 840 845 849]

----------------------------------------------------------------------------------------------------


FirstPaymentDate : ['1999-02' '1999-03' '1999-04' '1999-05' '1999-06' '1999-07' '1999-08'
 '1999-09' '1999-10' '1999-11' '1999-12' '2000-01' '2000-04' '2000-05'
 '2000-06' '2001-05' '2000-09' '2002-04' '2003-03' '2002-12' '2000-07'
 '2000-03' '2002-06' '2000-02' '2000-08' '2001-06' '2000-11' '2001-03'
 '2002-02' '2001-01' '2003-04' '2000-10' '2001-12' '2001-02' '2003-08'
 '2001-07' '2002-10' '2001-04' '2001-10' '2001-08' '2003-09' '2003-05'
 '2002-01' '2001-09' '2001-11' '2003-12' '2004-05' '2002-09' '1999-01'
 '2003-01' '2002-08' '2000-12' '2002-03' '2003-06' '2003-07' '2003-02'
 '2002-05' '2002-07' '2002-11' '2004-01' '2011-11' '2013-03' '2003-10'
 '2003-11' '2004-03' '2004-04']

----------------------------------------------------------------------------------------------------


FirstTimeHomebuyer : ['N' 'X' 'Y']

----------------------------------------------------------------------------------------------------


MaturityDate : ['2029-01' '2027-10' '2029-02' '2024-09' '2027-02' '2029-03' '2026-02'
 '2026-07' '2029-04' '2026-09' '2029-05' '2029-06' '2029-07' '2029-08'
 '2029-09' '2029-10' '2029-11' '2029-12' '2030-03' '2030-04' '2028-04'
 '2030-08' '2026-11' '2028-03' '2027-04' '2025-08' '2030-06' '2030-02'
 '2025-09' '2027-03' '2025-07' '2025-11' '2027-06' '2025-02' '2027-05'
 '2026-12' '2027-01' '2025-04' '2030-01' '2026-10' '2026-01' '2026-06'
 '2026-08' '2030-10' '2027-12' '2028-09' '2027-08' '2025-10' '2025-03'
 '2028-08' '2027-09' '2027-07' '2028-06' '2028-02' '2026-05' '2028-11'
 '2026-04' '2024-10' '2031-01' '2028-05' '2030-12' '2030-05' '2024-05'
 '2028-10' '2033-08' '2030-09' '2024-06' '2030-07' '2026-03' '2028-07'
 '2028-12' '2025-06' '2025-01' '2027-11' '2032-11' '2031-11' '2025-12'
 '2031-06' '2024-02' '2031-05' '2024-11' '2028-01' '2033-12' '2025-05'
 '2024-08' '2031-04' '2041-11' '2024-07' '2043-02' '2032-12' '2030-11'
 '2024-03' '2033-04' '2024-04' '2032-10' '2032-02']

----------------------------------------------------------------------------------------------------


MSA : ['16974' '19740' '29940' '31084' '35644' 'X    ' '36740' '25540' '48620'
 '12060' '12420' '13140' '13644' '15764' '16700' '16940' '17900' '19124'
 '20500' '20764' '21340' '22380' '22744' '23060' '23104' '24660' '24860'
 '25060' '26900' '27060' '27140' '27260' '28420' '29404' '30780' '31340'
 '33124' '33340' '33460' '34820' '35004' '35084' '35380' '37100' '38060'
 '38300' '38900' '39300' '39340' '39820' '40060' '40140' '40900' '41180'
 '41620' '41700' '41740' '41884' '42044' '42220' '42644' '43900' '46060'
 '46700' '47644' '47894' '49180' '49420' '11340' '12100' '14500' '17820'
 '17860' '19340' '19804' '28140' '29740' '36084' '36500' '37460' '42060'
 '47260' '48424' '12580' '14484' '14860' '19380' '26420' '29420' '29620'
 '36540' '37764' '37860' '37964' '38940' '40380' '45300' '19660' '11300'
 '11460' '12220' '12940' '13820' '13980' '14740' '15540' '16740' '17140'
 '17460' '17780' '22220' '23420' '23844' '24340' '24780' '26180' '27620'
 '31420' '31540' '34980' '35300' '39100' '39580' '39900' '40420' '41940'
 '41980' '42020' '45940' '47300' '48300' '49340' '34100' '35840' '36980'
 '39140' '43620' '15804' '15940' '29820' '32820' '38860' '40484' '41060'
 '44140' '45500' '12540' '10740' '10900' '11540' '12260' '12980' '14260'
 '16180' '16300' '18140' '21140' '22500' '23580' '25260' '26300' '29460'
 '31140' '31900' '32780' '32900' '33260' '33540' '33700' '34940' '36420'
 '37340' '37900' '39740' '41500' '42100' '43340' '44700' '45104' '49020'
 '10420' '10580' '16860' '17980' '22660' '28020' '31020' '35980' '11700'
 '17660' '19500' '20020' '36780' '36100' '42680' '45220' '48900' '22420'
 '33860' '28100' '40660' '26820' '49660' '40580' '14060' '24300' '44600'
 '15980' '23540' '12700' '36260' '30460' '38540' '26620' '45780' '47380'
 '24580' '18880' '15500' '25420' '41420' '44060' '19140' '39540' '19780'
 '40340' '34900' '48864' '15380' '20260' '25860' '29140' '42340' '21780'
 '34740' '33780' '35660' '26580' '24540' '41100' '29540' '21660' '27500'
 '43780' '30860' '28940' '46140' '44100' '22180' '45460' '42540' '33660'
 '49740' '15260' '45060' '13900' '43300' '24140' '31700' '19260' '31180'
 '32580' '18020' '18700' '12020' '27900' '19460' '47220' '27340' '37380'
 '11180' '44180' '39460' '26100' '29020' '40980' '47580' '27180' '15180'
 '20740' '46660' '13740' '13460' '20940' '21300' '43580' '49620' '19180'
 '27740' '30340' '39380' '48140' '49700' '47940' '43100' '27100' '16620'
 '27860' '30620' '20100' '41780' '31860' '17020' '34580' '10500' '18580'
 '34620' '17300' '47020' '44940' '30980' '25180' '38220' '13380' '22540'
 '38340' '22900' '44220' '42140' '22140' '22020' '13020' '30700' '25500'
 '14540' '22520' '10180' '40220' '46340' '14020' '45820' '16580' '11260'
 '28700' '21060' '46220' '20220' '29180' '34060' '39660' '11100' '36140'
 '29100' '16820' '10780' '30140' '26380' '30300' '21820' '28740' '16020'
 '48660' '12620' '27780' '46540' '25620' '33740' '11020' '24500' '48540'
 '29700' '21500' '25020' '24220' '31460' '23460' '37700' '41540' '33140'
 '41660' '30020' '13780' '28660' '16220' '41900' '41140' '37620' '48700'
 '44300' '24020' '17420' '31740' '29340' '19060' '11500' '26980' '25980'
 '36220' '10380' '49500' '21940' '32420']

----------------------------------------------------------------------------------------------------


MIP : [25  0 30 12 35 29 17 18 20 22  6 14 33 16 52 36 28 11 45 15 27 10 32  9
 50 47  7 24 37 26  1 13 21 19 23 55  4]

----------------------------------------------------------------------------------------------------


Units : [1 2 4 3 0]

----------------------------------------------------------------------------------------------------


Occupancy : ['O' 'I' 'S']

----------------------------------------------------------------------------------------------------


OCLTV : [ 89  73  75  76  78  90  72  95  80  77  85  93  70  74  79  62  44  32
  64  91  53  69  60  54  52  84  68  36  55  96  97  46  58  63  83  87
  94  86  50  45  71  61  42  59  57  48  51  67  81  66  82  88  26  30
  24  34  37  65  31 100   7  38  39  16  41  33  18  22  35  92  40  56
  29  43  28  47  49  25  98  27 103  13  10  23  20  15  21 102 101  14
  17 105  19   8   0  99 104 110  12   6  11   9]

----------------------------------------------------------------------------------------------------


DTI : [27 17 16 14 18 40 21 20 38 19 23 45 28 29 15 43 25 24 26 35 46 39 33 48
 30 31 22 56 32 12  6 37 36 42 34 11 41  8 44 55  0 13 53 10  9 51  7 47
 65 54  2 57  5  3  4 50 59 49 52 64 60 58 62  1 61 63]

----------------------------------------------------------------------------------------------------


OrigUPB : [117000 109000  88000 160000 207000 111000  97000  55000  35000 126000
 200000  70000  93000  79000  54000  80000 231000 145000 187000 148000
  90000  65000  86000 122000 157000  94000  63000  50000 100000 191000
 204000 222000 189000  57000 202000 137000  56000 140000  18000  76000
  77000 151000 118000 182000  98000  89000 172000  82000 240000 102000
 173000  51000 169000 101000 152000 141000  47000 128000 133000 135000
 115000 144000 146000 212000 176000 214000 190000 227000  99000  83000
  49000  29000 124000 132000 150000 300000  95000 149000 162000 226000
 110000 112000 219000 236000  67000 195000 164000 198000  60000 194000
 147000 104000  72000 183000 154000 179000  66000 210000  46000  96000
 225000 156000  45000 235000 113000 139000  74000  68000  69000 238000
 142000  73000  52000 143000  27000 217000 106000  64000  36000  39000
 134000  38000 108000 120000 155000  71000  31000 234000  28000 136000
 184000  48000  44000  42000 193000 119000 131000  26000 114000  81000
 209000 248000 185000  61000  30000  41000  92000  62000 170000  87000
  75000 174000 103000  59000 230000 105000 177000 130000  84000 138000
 116000  23000 125000  34000  33000 171000 213000 127000 205000 123000
 203000 291000 216000 158000 167000 153000  20000 220000 175000 211000
 163000  43000  53000  32000 252000 161000 129000 215000  78000  40000
 188000 239000 107000  58000  37000 181000 166000 228000 307000 197000
 180000  91000 192000  85000 206000 165000 232000 208000 201000  13000
 121000 196000 221000 304000 159000 229000 278000  24000 284000 243000
 178000 251000 261000 313000  25000 262000 168000 186000 223000 323000
 306000 282000 199000 237000 224000 250000 246000 260000 254000 247000
 244000 274000 329000 242000 272000  21000 265000 233000 270000 264000
 348000 276000 266000 218000 328000 245000 280000 256000 315000 263000
 338000 351000 267000 285000 259000 258000 257000 327000  14000 400000
  17000 332000  16000 277000 275000 298000 287000 319000  19000  15000
 279000 390000  22000 299000 281000 296000 269000 249000 241000 325000
 359000 297000 253000 347000 355000 288000 273000 271000 286000 302000
 290000 371000 336000 293000 360000 255000  10000 303000 268000 316000
 350000 292000 320000 312000 301000 352000 318000 289000 326000 305000
 294000 345000 331000 283000 330000 311000 361000 308000 310000 295000
 415000 333000 368000 428000  12000 309000 370000 423000 358000 340000
 354000 461000 324000 399000 339000 364000 334000   9000 346000 363000
 353000 497000 341000 442000 410000 455000 314000 344000 431000 317000
 392000 413000 436000 322000 389000 398000 454000  11000 458000 416000
 440000 402000   8000 387000 420000]

----------------------------------------------------------------------------------------------------


LTV : [ 89  73  75  76  78  90  72  95  80  77  85  93  70  74  79  62  44  32
  64  91  53  69  60  54  52  84  68  36  55  96  97  46  58  63  83  87
  94  86  50  45  71  61  42  59  57  48  51  67  81  66  82  88  26  30
  24  34  37  65  31   7  38  39  16  41  33  18  22  35  92  40  56  29
  43  28  47 100  49  25  98  27  13  10  23  20  15  21 103  14  17  19
   8   0  99  12   6  11   9]

----------------------------------------------------------------------------------------------------


OrigInterestRate : [ 6.75   6.5    6.875  7.125  7.     7.25   6.625  7.75   7.2    7.5
  7.625  7.875  6.25   8.125  7.15   7.375  6.375  8.75   7.1    8.5
  7.05   6.95   8.     6.     8.625  8.375  6.125  5.75   5.875  8.25
  7.18   5.125  5.25   8.99   5.625  9.     9.375  5.     9.125  6.99
  5.375  8.365  8.875  8.825  6.975  7.3    7.313  9.625  9.5    9.25
  7.85   8.695  4.875  7.775  7.29   7.405  9.75   7.13   5.99   6.999
  7.055  7.09   6.785  7.08   7.025  7.7    7.58  10.5    7.55   7.445
  9.875  6.9    6.85   6.925  8.37   7.095  7.19   8.85   7.456  7.675
  9.675  7.475  8.04   7.4    7.22   7.17   8.7    7.301  8.9   10.
  5.5    6.62   6.7    7.325 10.375  4.75   6.6    7.8    7.333 10.85
  7.185  7.99   7.245 11.5    6.94   6.87   7.65   7.312  7.28   7.39
  7.07   6.55   9.95   7.43   7.48   6.88   8.45   6.825  6.895  6.3
  7.49   6.8    6.63   8.05   7.275  7.175  7.225  7.075  8.8    7.33
  7.35   7.23   6.65   7.91   7.575  7.425  7.03   7.31  10.625  6.45
  7.14   7.12   7.24   7.013  9.7    6.4    6.49   6.97   7.355  7.878
  8.27   7.38   7.45   7.105  9.35  10.75   7.365  6.871  5.96   8.3
  7.36   9.975  7.37   7.32  11.125  8.07   6.1    6.883  7.95   7.6
  7.54  11.1    6.955  9.99   6.995  7.023  5.89   6.35   8.32   8.315
  7.62   7.188  7.26   8.14   7.072  7.106  7.066  6.225  7.016  6.52
  7.255  6.715  7.04   6.545  6.93   7.056  6.69   8.1    8.485 12.35
  7.06   6.2    7.085  7.495  7.158  6.33   8.13   8.18   7.66   6.602
  7.293  7.371  6.98   8.06   6.92   5.49   6.626  6.685  6.51   8.67
  6.813  7.257  7.165  8.31   8.255  7.825  7.395  7.624  7.195  7.265
  6.935  6.965  4.     6.54   6.948  7.64   7.02   6.74   6.96   6.957
  7.063  7.415  7.21   6.15   6.79   7.399  7.47   7.059  7.305  7.925
  7.93   7.154  6.09   5.8  ]

----------------------------------------------------------------------------------------------------


Channel : ['T' 'R' 'C' 'B']

----------------------------------------------------------------------------------------------------


PPM : ['N' 'X' 'Y']

----------------------------------------------------------------------------------------------------


ProductType : ['FRM  ']

----------------------------------------------------------------------------------------------------


PropertyState : ['IL' 'CO' 'KS' 'CA' 'NJ' 'WI' 'FL' 'CT' 'GA' 'TX' 'MD' 'MA' 'SC' 'WY'
 'NC' 'AZ' 'IN' 'MS' 'NY' 'WA' 'AR' 'VA' 'MN' 'LA' 'PA' 'OR' 'RI' 'UT'
 'MI' 'TN' 'AL' 'MO' 'IA' 'NM' 'NV' 'VT' 'OH' 'NE' 'HI' 'ID' 'PR' 'DC'
 'GU' 'KY' 'NH' 'SD' 'ME' 'MT' 'OK' 'WV' 'DE' 'ND' 'AK']

----------------------------------------------------------------------------------------------------


PropertyType : ['SF' 'PU' 'CO' 'MH' 'CP' 'LH' 'X ']

----------------------------------------------------------------------------------------------------


PostalCode : ['60400' '80200' '66000' ... '33200' '84200' '41300']

----------------------------------------------------------------------------------------------------

LoanSeqNum : ['F199Q1268030' 'F199Q1015092' 'F199Q1266886' ... 'F199Q1401282'
 'F199Q1220924' 'F199Q1220923']

----------------------------------------------------------------------------------------------------


LoanPurpose : ['P' 'N' 'C']

----------------------------------------------------------------------------------------------------


OrigLoanTerm : [360 345 306 335 322 327 329 358 355 356 354 346 350 334 325 344 348 313
 316 336 359 318 353 330 319 332 315 320 338 312 328 337 351 333 317 331
 357 341 343 326 339 324 347 352 307 309 349 342 304 310 323 340 301 305
 314 321 302 308 303 361 311]

----------------------------------------------------------------------------------------------------


NumBorrowers : ['2' '1' 'X ']

----------------------------------------------------------------------------------------------------


SellerName : ['FL' 'FT' 'GM' 'Ot' 'RE' 'NO' 'ST' 'CR' 'CH' 'FI' 'HO' 'PR' nan 'PN' 'WA'
 'BA' 'G ' 'OL' 'AC' 'CO' 'BI']

----------------------------------------------------------------------------------------------------


ServicerName : ['WASHINGTONMUTUALBANK' 'CHASEHOMEFINANCELLC ' 'GMACMTGECORP        '
 'Other servicers     ' 'WELLSFARGOBANKNA   ' 'ABNAMROMTGEGROUPINC'
 'BANKOFAMERICANA    ' 'CHASEMANHATTANMTGECO' 'HOMESIDELENDINGINC '
 'CHASEMTGECO         ' 'WELLSFARGOHOMEMORTGA' 'PRINCIPALRESIDENTIAL'
 'CITIMORTGAGEINC    ' 'JPMORGANCHASEBANKNA' 'BAMORTGAGELLC      '
 'NATLCITYMTGECO      ' 'FTMTGESERVICESINC  ' 'SUNTRUSTMORTGAGEINC'
 'COUNTRYWIDE         ' 'FIFTHTHIRDBANK      ']

----------------------------------------------------------------------------------------------------


EverDelinquent : [0 1]

----------------------------------------------------------------------------------------------------


MonthsDelinquent : [  0   3 104   5  23  32   1   2   4  20  10  34  35   6  11 153   7  15
   8  18  78  24  14  28  13  95  17  25   9  66  36  19  27  49  50  26
  29  12  16  21  22 118  30  69 158  62  43  38  64  71  76  74  92  41
  91  83 130  70 102  33  31  84  85  65  52  47  46  68  45  37 120  61
  39  56 129  60  48  55 172  54  40 136 151 124 100 105  51  99 107  73
  57 170 117  86  94  63  75 149 106 112 110  77 122 135 180  58  53 116
  59  42 163 111 141 169  44  82  79  72 121 134  81  89 150 113 109 146
  80 133  97 103 168  67 101 145 139  87  93 140 115 147  96 127  98 132
 108 126 138  88 156 119 165  90 114 157 144 160 123 148 143 137 152 175
 131 154 162 179 128 178 125 155 159 142 161 171]

----------------------------------------------------------------------------------------------------


MonthsInRepayment : [ 52 144  67  35  54  42  44 145  64 212  37  47  53  55  66  26  38  36
  39  40  11 176  46 197 210  56 118  63  24  28  91  50  22 211 199  23
  30 125  41  76  49  18  19  43  60  83  95  29  45  13   6  48  62  14
  15 111  51  17  75  58  27  10  31 133 165 156  33  68 205  57 159  81
 191 194 114  59 100 134  74   9  34  77 170 122  69  72 206 148 153 101
 180   8  32   5 207   7 128  71  65  79 174 195 151 149  21  12 137 130
  70 173 166  61 160  20 178   3 147   2 164 139 108  92 209 102  87  94
  73 123  16 142   1 172 109 141 175 103 168 155 177 158 138  25 110  98
  84 208 188 106 112 121 136 179   4 154 161 157 150  80 183  93 143 162
 126  89 184  82 117 107 193  85 124 192  78 169 104 131 140 163 182 132
 135  86 129 186 127 189 190 198 202 167 146  90 119  99 201 120  96 116
 105 171  88 113 181 204  97 203 185 196 115 152 200 187]

----------------------------------------------------------------------------------------------------


Parsed_FirstPaymentDate : ['1999-02-01T00:00:00.000000000' '1999-03-01T00:00:00.000000000'
 '1999-04-01T00:00:00.000000000' '1999-05-01T00:00:00.000000000'
 '1999-06-01T00:00:00.000000000' '1999-07-01T00:00:00.000000000'
 '1999-08-01T00:00:00.000000000' '1999-09-01T00:00:00.000000000'
 '1999-10-01T00:00:00.000000000' '1999-11-01T00:00:00.000000000'
 '1999-12-01T00:00:00.000000000' '2000-01-01T00:00:00.000000000'
 '2000-04-01T00:00:00.000000000' '2000-05-01T00:00:00.000000000'
 '2000-06-01T00:00:00.000000000' '2001-05-01T00:00:00.000000000'
 '2000-09-01T00:00:00.000000000' '2002-04-01T00:00:00.000000000'
 '2003-03-01T00:00:00.000000000' '2002-12-01T00:00:00.000000000'
 '2000-07-01T00:00:00.000000000' '2000-03-01T00:00:00.000000000'
 '2002-06-01T00:00:00.000000000' '2000-02-01T00:00:00.000000000'
 '2000-08-01T00:00:00.000000000' '2001-06-01T00:00:00.000000000'
 '2000-11-01T00:00:00.000000000' '2001-03-01T00:00:00.000000000'
 '2002-02-01T00:00:00.000000000' '2001-01-01T00:00:00.000000000'
 '2003-04-01T00:00:00.000000000' '2000-10-01T00:00:00.000000000'
 '2001-12-01T00:00:00.000000000' '2001-02-01T00:00:00.000000000'
 '2003-08-01T00:00:00.000000000' '2001-07-01T00:00:00.000000000'
 '2002-10-01T00:00:00.000000000' '2001-04-01T00:00:00.000000000'
 '2001-10-01T00:00:00.000000000' '2001-08-01T00:00:00.000000000'
 '2003-09-01T00:00:00.000000000' '2003-05-01T00:00:00.000000000'
 '2002-01-01T00:00:00.000000000' '2001-09-01T00:00:00.000000000'
 '2001-11-01T00:00:00.000000000' '2003-12-01T00:00:00.000000000'
 '2004-05-01T00:00:00.000000000' '2002-09-01T00:00:00.000000000'
 '1999-01-01T00:00:00.000000000' '2003-01-01T00:00:00.000000000'
 '2002-08-01T00:00:00.000000000' '2000-12-01T00:00:00.000000000'
 '2002-03-01T00:00:00.000000000' '2003-06-01T00:00:00.000000000'
 '2003-07-01T00:00:00.000000000' '2003-02-01T00:00:00.000000000'
 '2002-05-01T00:00:00.000000000' '2002-07-01T00:00:00.000000000'
 '2002-11-01T00:00:00.000000000' '2004-01-01T00:00:00.000000000'
 '2011-11-01T00:00:00.000000000' '2013-03-01T00:00:00.000000000'
 '2003-10-01T00:00:00.000000000' '2003-11-01T00:00:00.000000000'
 '2004-03-01T00:00:00.000000000' '2004-04-01T00:00:00.000000000']

----------------------------------------------------------------------------------------------------


Parsed_MaturityDate : ['2029-01-01T00:00:00.000000000' '2027-10-01T00:00:00.000000000'
 '2029-02-01T00:00:00.000000000' '2024-09-01T00:00:00.000000000'
 '2027-02-01T00:00:00.000000000' '2029-03-01T00:00:00.000000000'
 '2026-02-01T00:00:00.000000000' '2026-07-01T00:00:00.000000000'
 '2029-04-01T00:00:00.000000000' '2026-09-01T00:00:00.000000000'
 '2029-05-01T00:00:00.000000000' '2029-06-01T00:00:00.000000000'
 '2029-07-01T00:00:00.000000000' '2029-08-01T00:00:00.000000000'
 '2029-09-01T00:00:00.000000000' '2029-10-01T00:00:00.000000000'
 '2029-11-01T00:00:00.000000000' '2029-12-01T00:00:00.000000000'
 '2030-03-01T00:00:00.000000000' '2030-04-01T00:00:00.000000000'
 '2028-04-01T00:00:00.000000000' '2030-08-01T00:00:00.000000000'
 '2026-11-01T00:00:00.000000000' '2028-03-01T00:00:00.000000000'
 '2027-04-01T00:00:00.000000000' '2025-08-01T00:00:00.000000000'
 '2030-06-01T00:00:00.000000000' '2030-02-01T00:00:00.000000000'
 '2025-09-01T00:00:00.000000000' '2027-03-01T00:00:00.000000000'
 '2025-07-01T00:00:00.000000000' '2025-11-01T00:00:00.000000000'
 '2027-06-01T00:00:00.000000000' '2025-02-01T00:00:00.000000000'
 '2027-05-01T00:00:00.000000000' '2026-12-01T00:00:00.000000000'
 '2027-01-01T00:00:00.000000000' '2025-04-01T00:00:00.000000000'
 '2030-01-01T00:00:00.000000000' '2026-10-01T00:00:00.000000000'
 '2026-01-01T00:00:00.000000000' '2026-06-01T00:00:00.000000000'
 '2026-08-01T00:00:00.000000000' '2030-10-01T00:00:00.000000000'
 '2027-12-01T00:00:00.000000000' '2028-09-01T00:00:00.000000000'
 '2027-08-01T00:00:00.000000000' '2025-10-01T00:00:00.000000000'
 '2025-03-01T00:00:00.000000000' '2028-08-01T00:00:00.000000000'
 '2027-09-01T00:00:00.000000000' '2027-07-01T00:00:00.000000000'
 '2028-06-01T00:00:00.000000000' '2028-02-01T00:00:00.000000000'
 '2026-05-01T00:00:00.000000000' '2028-11-01T00:00:00.000000000'
 '2026-04-01T00:00:00.000000000' '2024-10-01T00:00:00.000000000'
 '2031-01-01T00:00:00.000000000' '2028-05-01T00:00:00.000000000'
 '2030-12-01T00:00:00.000000000' '2030-05-01T00:00:00.000000000'
 '2024-05-01T00:00:00.000000000' '2028-10-01T00:00:00.000000000'
 '2033-08-01T00:00:00.000000000' '2030-09-01T00:00:00.000000000'
 '2024-06-01T00:00:00.000000000' '2030-07-01T00:00:00.000000000'
 '2026-03-01T00:00:00.000000000' '2028-07-01T00:00:00.000000000'
 '2028-12-01T00:00:00.000000000' '2025-06-01T00:00:00.000000000'
 '2025-01-01T00:00:00.000000000' '2027-11-01T00:00:00.000000000'
 '2032-11-01T00:00:00.000000000' '2031-11-01T00:00:00.000000000'
 '2025-12-01T00:00:00.000000000' '2031-06-01T00:00:00.000000000'
 '2024-02-01T00:00:00.000000000' '2031-05-01T00:00:00.000000000'
 '2024-11-01T00:00:00.000000000' '2028-01-01T00:00:00.000000000'
 '2033-12-01T00:00:00.000000000' '2025-05-01T00:00:00.000000000'
 '2024-08-01T00:00:00.000000000' '2031-04-01T00:00:00.000000000'
 '2041-11-01T00:00:00.000000000' '2024-07-01T00:00:00.000000000'
 '2043-02-01T00:00:00.000000000' '2032-12-01T00:00:00.000000000'
 '2030-11-01T00:00:00.000000000' '2024-03-01T00:00:00.000000000'
 '2033-04-01T00:00:00.000000000' '2024-04-01T00:00:00.000000000'
 '2032-10-01T00:00:00.000000000' '2032-02-01T00:00:00.000000000']

----------------------------------------------------------------------------------------------------

### Summury of Missing Values Analysis

In [17]:

def summary_missing_values(df):
    output_df = pd.DataFrame(columns=['is_Numeric', 'has_X_values?', 'Conditions', 'Column_Description'])
    
    output_df.loc['CreditScore']        = [is_numeric_dtype(df['CreditScore']), 'False', "Scores <300 or >850 are “Not Available”", "The standardized credit score used to evaluate the borrower during the loan origination process." ]
    output_df.loc['FirstTimeHomebuyer'] = [is_numeric_dtype(df['FirstTimeHomebuyer']), 'True', "9 = Not Available", "The indicator denoting whether a borrower on the loan qualifies as a first-time homebuyer." ]
    output_df.loc['MSA']                = [is_numeric_dtype(df['MSA']), 'True', "None", "Mortgage Security Amount" ]
    output_df.loc['MIP']                = [is_numeric_dtype(df['MIP']), 'False', "MIP values > 55% will be disclosed as “Not Available”. 000= No MI; 999= Not Available", "The percentage of mortgage insurance coverage obtained at origination in effect at the time the security was issued." ]
    output_df.loc['Units']              = [is_numeric_dtype(df['Units']), 'False', "99 = Not Available", "The number of dwelling units in the mortgaged property at the time the loan was originated: 1, 2, 3 or 4." ]
    output_df.loc['Occupancy']          = [is_numeric_dtype(df['Occupancy']), 'False', "None", "The classification describing the property occupancy status at the time the loan was originated." ]
    output_df.loc['OCLTV']              = [is_numeric_dtype(df['OCLTV']), 'False', "99 = Not Available", "The ratio, expressed as a percentage, obtained by dividing the amount of all known outstanding loans at origination by the value of the property." ]
    output_df.loc['DTI']                = [is_numeric_dtype(df['DTI']), 'False', "Percentages < 1% or > 65% will be disclosed as “Not Available,”", "The ratio obtained by dividing the total monthly debt expense by the total monthly income of the borrower at the time the loan was originated or modified. " ]
    output_df.loc['LTV']                = [is_numeric_dtype(df['LTV']), 'False', "Percentages < 1% or > than 998% will be disclosed as “Not Available,”. 999 = Not Available.", "The ratio, expressed as a percentage, obtained by dividing the amount of the loan at origination by the value of the property. " ]
    output_df.loc['OrigInterestRate']   = [is_numeric_dtype(df['OrigInterestRate']), 'False', "If value <0 or >25, then the rate is considered not available", "The interest rate of the loan as stated on the note at the time the loan was originated."]
    output_df.loc['Channel']            = [is_numeric_dtype(df['Channel']), 'False', "9 = Not Available", "The origination channel used by the party that delivered the loan to the issuer." ]
    output_df.loc['PPM']                = [is_numeric_dtype(df['PPM']), 'True', "9 = Not Available", "The indicator denoting whether the borrower is subject to a penalty for early payment of principal." ]
    output_df.loc['PropertyType']       = [is_numeric_dtype(df['PropertyType']), 'True', "None", "The classification describing the type of property that secures the loan." ]
    output_df.loc['PostalCode']         = [is_numeric_dtype(df['PostalCode']), 'True', "None", "-" ]
    output_df.loc['NumBorrowers']       = [is_numeric_dtype(df['NumBorrowers']), 'True', "99 = Not Available", "The number of borrowers who, at the time the loan was originated, are obligated to repay the loan: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10. " ]
    output_df.loc['SellerName']         = [is_numeric_dtype(df['SellerName']), 'False', "None", "The name of the entity that sold the loan to the issuer." ]
    output_df.loc['ServicerName']       = [is_numeric_dtype(df['ServicerName']), 'False', "None", "The name of the entity that services the loan during the current reporting period." ]
    output_df.loc['EverDelinquent']     = [is_numeric_dtype(df['EverDelinquent']), 'False', "None", "Target column" ]
    output_df.loc['MonthsDelinquent']   = [is_numeric_dtype(df['MonthsDelinquent']), 'False', "9 = Not Available", "The number of days for which a mortgage loan has been reported delinquent." ]
    output_df.loc['MonthsInRepayment']  = [is_numeric_dtype(df['MonthsInRepayment']), 'False', "None", "-" ]
    #output_df.loc[''] = [is_numeric_dtype(df['']), 'False', "9 = Not Available", "" ]
    
    return output_df
    
pd.set_option('display.max_colwidth', None)
summary_missing_values(data)

,is_Numeric,has_X_values?,Conditions,Column_Description
CreditScore,True,False,Scores <300 or >850 are “Not Available”,The standardized credit score used to evaluate the borrower during the loan origination process.
FirstTimeHomebuyer,False,True,9 = Not Available,The indicator denoting whether a borrower on the loan qualifies as a first-time homebuyer.
MSA,False,True,None,Mortgage Security Amount
MIP,True,False,MIP values > 55% will be disclosed as “Not Available”. 000= No MI; 999= Not Available,The percentage of mortgage insurance coverage obtained at origination in effect at the time the security was issued.
Units,True,False,99 = Not Available,"The number of dwelling units in the mortgaged property at the time the loan was originated: 1, 2, 3 or 4."
Occupancy,False,False,None,The classification describing the property occupancy status at the time the loan was originated.
OCLTV,True,False,99 = Not Available,"The ratio, expressed as a percentage, obtained by dividing the amount of all known outstanding loans at origination by the value of the property."
DTI,True,False,"Percentages < 1% or > 65% will be disclosed as “Not Available,”",The ratio obtained by dividing the total monthly debt expense by the total monthly income of the borrower at the time the loan was originated or modified.
LTV,True,False,"Percentages < 1% or > than 998% will be disclosed as “Not Available,”. 999 = Not Available.","The ratio, expressed as a percentage, obtained by dividing the amount of the loan at origination by the value of the property."
OrigInterestRate,True,False,"If value <0 or >25, then the rate is considered not available",The interest rate of the loan as stated on the note at the time the loan was originated.
Channel,False,False,9 = Not Available,The origination channel used by the party that delivered the loan to the issuer.
PPM,False,True,9 = Not Available,The indicator denoting whether the borrower is subject to a penalty for early payment of principal.
PropertyType,False,True,None,The classification describing the type of property that secures the loan.
PostalCode,False,True,None,-
NumBorrowers,False,True,99 = Not Available,"The number of borrowers who, at the time the loan was originated, are obligated to repay the loan: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10."
SellerName,False,False,None,The name of the entity that sold the loan to the issuer.
ServicerName,False,False,None,The name of the entity that services the loan during the current reporting period.
EverDelinquent,True,False,None,Target column
MonthsDelinquent,True,False,9 = Not Available,The number of days for which a mortgage loan has been reported delinquent.
MonthsInRepayment,True,False,None,-

In [18]:
columns_with_X_values = ['FirstTimeHomebuyer', 'MSA', 'PPM', 'PropertyType', 'PostalCode', 'NumBorrowers']
def replace_X_values_by_nan(data):
    data.loc[data['FirstTimeHomebuyer'] == 'X', 'FirstTimeHomebuyer'] = np.nan
    data.loc[data['MSA'] == 'X    ', 'MSA']                           = np.nan
    data.loc[data['PPM'] == 'X', 'PPM']                               = np.nan
    data.loc[data['PropertyType'] == 'X ' , 'PropertyType']           = np.nan
    data.loc[data['PostalCode'] == 'X    ' , 'PostalCode']            = np.nan
    data.loc[data['NumBorrowers'] == 'X ' , 'NumBorrowers']           = np.nan
    
    return data

data = replace_X_values_by_nan(data)

In [19]:
for col in columns_with_X_values:
    print('{} : {}\n'.format(col, data[col].unique()))
    print('-'*100)
    print('\n')

FirstTimeHomebuyer : ['N' nan 'Y']

----------------------------------------------------------------------------------------------------


MSA : ['16974' '19740' '29940' '31084' '35644' nan '36740' '25540' '48620'
 '12060' '12420' '13140' '13644' '15764' '16700' '16940' '17900' '19124'
 '20500' '20764' '21340' '22380' '22744' '23060' '23104' '24660' '24860'
 '25060' '26900' '27060' '27140' '27260' '28420' '29404' '30780' '31340'
 '33124' '33340' '33460' '34820' '35004' '35084' '35380' '37100' '38060'
 '38300' '38900' '39300' '39340' '39820' '40060' '40140' '40900' '41180'
 '41620' '41700' '41740' '41884' '42044' '42220' '42644' '43900' '46060'
 '46700' '47644' '47894' '49180' '49420' '11340' '12100' '14500' '17820'
 '17860' '19340' '19804' '28140' '29740' '36084' '36500' '37460' '42060'
 '47260' '48424' '12580' '14484' '14860' '19380' '26420' '29420' '29620'
 '36540' '37764' '37860' '37964' '38940' '40380' '45300' '19660' '11300'
 '11460' '12220' '12940' '13820' '13980' '14740' '15540' '16740' '17140'
 '17460' '17780' '22220' '23420' '23844' '24340' '24780' '26180' '27620'
 '31420' '31540' '34980' '35300' '39100' '39580' '39900' '40420' '41940'
 '41980' '42020' '45940' '47300' '48300' '49340' '34100' '35840' '36980'
 '39140' '43620' '15804' '15940' '29820' '32820' '38860' '40484' '41060'
 '44140' '45500' '12540' '10740' '10900' '11540' '12260' '12980' '14260'
 '16180' '16300' '18140' '21140' '22500' '23580' '25260' '26300' '29460'
 '31140' '31900' '32780' '32900' '33260' '33540' '33700' '34940' '36420'
 '37340' '37900' '39740' '41500' '42100' '43340' '44700' '45104' '49020'
 '10420' '10580' '16860' '17980' '22660' '28020' '31020' '35980' '11700'
 '17660' '19500' '20020' '36780' '36100' '42680' '45220' '48900' '22420'
 '33860' '28100' '40660' '26820' '49660' '40580' '14060' '24300' '44600'
 '15980' '23540' '12700' '36260' '30460' '38540' '26620' '45780' '47380'
 '24580' '18880' '15500' '25420' '41420' '44060' '19140' '39540' '19780'
 '40340' '34900' '48864' '15380' '20260' '25860' '29140' '42340' '21780'
 '34740' '33780' '35660' '26580' '24540' '41100' '29540' '21660' '27500'
 '43780' '30860' '28940' '46140' '44100' '22180' '45460' '42540' '33660'
 '49740' '15260' '45060' '13900' '43300' '24140' '31700' '19260' '31180'
 '32580' '18020' '18700' '12020' '27900' '19460' '47220' '27340' '37380'
 '11180' '44180' '39460' '26100' '29020' '40980' '47580' '27180' '15180'
 '20740' '46660' '13740' '13460' '20940' '21300' '43580' '49620' '19180'
 '27740' '30340' '39380' '48140' '49700' '47940' '43100' '27100' '16620'
 '27860' '30620' '20100' '41780' '31860' '17020' '34580' '10500' '18580'
 '34620' '17300' '47020' '44940' '30980' '25180' '38220' '13380' '22540'
 '38340' '22900' '44220' '42140' '22140' '22020' '13020' '30700' '25500'
 '14540' '22520' '10180' '40220' '46340' '14020' '45820' '16580' '11260'
 '28700' '21060' '46220' '20220' '29180' '34060' '39660' '11100' '36140'
 '29100' '16820' '10780' '30140' '26380' '30300' '21820' '28740' '16020'
 '48660' '12620' '27780' '46540' '25620' '33740' '11020' '24500' '48540'
 '29700' '21500' '25020' '24220' '31460' '23460' '37700' '41540' '33140'
 '41660' '30020' '13780' '28660' '16220' '41900' '41140' '37620' '48700'
 '44300' '24020' '17420' '31740' '29340' '19060' '11500' '26980' '25980'
 '36220' '10380' '49500' '21940' '32420']

----------------------------------------------------------------------------------------------------


PPM : ['N' nan 'Y']

----------------------------------------------------------------------------------------------------


PropertyType : ['SF' 'PU' 'CO' 'MH' 'CP' 'LH' nan]

----------------------------------------------------------------------------------------------------


PostalCode : ['60400' '80200' '66000' ... '33200' '84200' '41300']

----------------------------------------------------------------------------------------------------


NumBorrowers : ['2' '1' nan]

----------------------------------------------------------------------------------------------------

### Columns with particular Conditions

### - CreditScore

In [20]:
# Checking conditions for "Not Available" values
data[(data['CreditScore'] < 300)]['CreditScore']

0       0
1       0
2       0
3       0
4       0
       ..
1184    0
1185    0
1186    0
1187    0
1188    0
Name: CreditScore, Length: 1189, dtype: int64

In [21]:
data[(data['CreditScore'] > 850) | (data['CreditScore'] == 9999)]['CreditScore']

Series([], Name: CreditScore, dtype: int64)

There are 1189 values of 'CreditScore' less than 300. 
So these values should be marqued as “Not Available” or 9999. We'll replace them by np.nan.

### - MIP:

In [22]:
data[(data['MIP'] > 55) | (data['MIP'] == 999)]['MIP']

Series([], Name: MIP, dtype: int64)

### - Occupancy:

In [23]:
data.Occupancy.value_counts()

O    276131
I      8734
S      6586
Name: Occupancy, dtype: int64

We have an unknown category in this column that is O. Probaly this column stands for “Not Available”. Let's consider these values as missing and replace them by np.nan.

### - DTI:

In [24]:
data[(data.DTI < 1) | (data.DTI > 65) | (data.DTI == 999)].DTI

140       0
167       0
176       0
179       0
186       0
         ..
291438    0
291441    0
291442    0
291443    0
291447    0
Name: DTI, Length: 17796, dtype: int64

### - LTV:

In [25]:
data[data.LTV < 1].LTV

31098     0
88463     0
233257    0
276981    0
287773    0
Name: LTV, dtype: int64

In [26]:
data[(data.LTV == 999) | (data.LTV > 998)].LTV

Series([], Name: LTV, dtype: int64)

### - OrigInterestRate:

In [27]:
data[(data.OrigInterestRate < 0) | (data.OrigInterestRate > 25)].OrigInterestRate

Series([], Name: OrigInterestRate, dtype: float64)

In [28]:
def matching_description_conditions(data):
    # replacing all credit score values less than 300 by np.nan
    data.loc[data['CreditScore'] < 300, 'CreditScore'] = np.nan
    data.loc[data['DTI'] < 1, 'DTI'] = np.nan
    data.loc[data['LTV'] < 1, 'LTV'] = np.nan
    
    # replacing O by np.nan
    data.loc[data['Occupancy'] == 'O', 'Occupancy'] = np.nan
    
    return data

data = matching_description_conditions(data)

### Missing values Imputation

In [29]:
# Now check missing values in descending order
data.isnull().sum().sort_values(ascending=False)

Occupancy                  276131
FirstTimeHomebuyer          78015
MSA                         39100
SellerName                  24994
DTI                         17796
PPM                          5405
CreditScore                  1189
NumBorrowers                  339
PropertyType                   22
PostalCode                      6
LTV                             5
MonthsDelinquent                0
EverDelinquent                  0
LoanSeqNum                      0
ServicerName                    0
MonthsInRepayment               0
Parsed_FirstPaymentDate         0
OrigLoanTerm                    0
LoanPurpose                     0
ProductType                     0
PropertyState                   0
FirstPaymentDate                0
Channel                         0
OrigInterestRate                0
OrigUPB                         0
OCLTV                           0
Units                           0
MIP                             0
MaturityDate                    0
Parsed_MaturityDate             0
dtype: int64

In [ ]:
# Visualize missing values
sns.heatmap(data.isnull(), cbar=False, cmap='viridis')

In [ ]:
cols_to_impute_with_mode = ['FirstTimeHomebuyer', 'SellerName', 'PPM', 'PropertyType']
cols_to_impute_with_mean = ['MSA', 'DTI', 'CreditScore', 'NumBorrowers', 'LTV']

for col in cols_to_impute_with_mode:
    data[col].fillna(data[col].mode().iloc[0], inplace=True)
    
for col in cols_to_impute_with_mean:
    data[col] = pd.to_numeric(data[col])
    data[col].fillna(data[col].mean(), inplace=True)

In [ ]:
# Now check missing values in descending order
data.isnull().sum().sort_values(ascending=False)

We'll simply drop the "Occupancy" column as it has to much missing values.

## 1.3. Unecessary Columns/Rows removal

### - Units:

In [ ]:
data.Units.value_counts()

What do these 0 values mean? I think this is an error.
We'll simply drop the 0 values as we can't have 0 dwelling unit.

### - ProductType:

In [ ]:
data.ProductType.value_counts()

This column only has 1 categorie so it is not very useful. We'll drop it

In [ ]:
# first let's delete the old date columns
data.drop('FirstPaymentDate', axis=1, inplace=True)
data.drop('MaturityDate', axis=1, inplace=True)

In [ ]:
# drop rows where Units values are 0
data.drop(data[data['Units'] == 0].index, inplace=True)

In [ ]:
# drop the useless columns
data.drop(['ProductType', 'Occupancy', 'PostalCode', 'LoanSeqNum'
           #, 'PropertyState', 'ServicerName', 
                 ], axis = 1, inplace=True)

## 1.4. Outliers removal

# 2. Data Encoding

In [ ]:
cols_to_encode_after_EDA = ['PropertyType', 'SellerName']

In [ ]:
# convert object columns to integers
data['MSA']           = data['MSA'].astype(int)
data['NumBorrowers']  = data['NumBorrowers'].astype(int)

### - FirstTimeHomebuyer && PPM:

In [ ]:
LE_cols = ['FirstTimeHomebuyer', 'PPM']

data['FirstTimeHomebuyer'] = data['FirstTimeHomebuyer'].map({'N':0, 'Y':1}).astype('int')
data['PPM']                = data['PPM'].map({'N':0, 'Y':1}).astype('int')

### - ServicerName: 
For 'ServicerName', we'll try group similar servicer names into 3 categories to reduce the number of unique values and potentially capture meaningful patterns: "Major Banks," "Non-Bank Servicers," and "Other Servicers."

In [ ]:
data[['ServicerName']] = data[['ServicerName']].replace(dict.fromkeys(['COUNTRYWIDE',
                                                                       'BANKOFAMERICANA',
                                                                       'WASHINGTONMUTUALBANK',
                                                                       'CHASEMANHATTANMTGECO',
                                                                       'ABNAMROMTGEGROUPINC',
                                                                       'WELLSFARGOHOMEMORTGA',
                                                                       'GMACMTGECORP',
                                                                       'CHASEMTGECO',
                                                                       'NATLCITYMTGECO',
                                                                       'WELLSFARGOBANKNA',
                                                                       'JPMORGANCHASEBANKNA',
                                                                       'SUNTRUSTMORTGAGEINC',
                                                                       'CITIMORTGAGEINC'],     'Major Banks'))

data[['ServicerName']] = data[['ServicerName']].replace(dict.fromkeys(['BAMORTGAGELLC',
                                                                       'FTMTGESERVICESINC',
                                                                       'PRINCIPALRESIDENTIAL',
                                                                       'CHASEHOMEFINANCELLC',
                                                                       'HOMESIDELENDINGINC'],  'Non-Bank Servicers'))

data[['ServicerName']] = data[['ServicerName']].replace(dict.fromkeys(['Other servicers',
                                                                       'FIFTHTHIRDBANK'],      'Other Servicers'))

### - PropertyState: 
For 'PropertyState' column, we'll group into 5 categories based on geographical regions to retains valuable information while reducing the dimensionality of the column: "West Coast," "Northeast," "Midwest," "South," and "Other"

In [ ]:
data.PropertyState.value_counts()

In [ ]:
data[['PropertyState']] = data[['PropertyState']].replace(dict.fromkeys(['NY', 'PA', 'NJ', 'MA', 'CT', 'RI'],     
                                                                        'Northeast'))
data[['PropertyState']] = data[['PropertyState']].replace(dict.fromkeys(['FL', 'TX', 'GA', 'NC', 'VA', 'SC', 'AL', 'KY', 'TN', 'MS', 'LA'],  
                                                                        'South'))
data[['PropertyState']] = data[['PropertyState']].replace(dict.fromkeys(['CA', 'WA', 'OR'],      
                                                                        'West Coast'))
data[['PropertyState']] = data[['PropertyState']].replace(dict.fromkeys(['MI', 'IL', 'OH', 'IN', 'MO', 'MN', 'WI', 'IA'], 
                                                                        'Midwest'))
data[['PropertyState']] = data[['PropertyState']].replace(dict.fromkeys(['CO', 'AZ', 'MD', 'UT', 'NV', 'KS', 'ID', 'NM', 'OK', 'NE', 'NH', 'VT', 'AR', 'MT', 'DE', 'ME', 'PR', 'HI', 'WV', 'WY', 'DC', 'SD', 'ND', 'AK', 'GU'], 
                                                                        'Others'))

In [ ]:
data.PropertyState.value_counts()

# Data Labeling

In [ ]:
target   = 'EverDelinquent'
features = [col for col in data if col != target]

In [ ]:
print(f"The target variable is -------------> {target}\n")
print(f"The features are       -------------> {features}")

## Preprocessed data

In [ ]:
data.head()

In [ ]:
data.SellerName.value_counts()